
Verilog_Design/UART cw/incremental_db/compiled_partitions/uart.root_partition.map.hbdb.hb_info
*.sci
*.sci
*.cdb
Verilog_Design/UART cw/db/uart_partition_pins.json
Verilog_Design/UART cw/db/uart_implementation.sld_design_entry_dsc.sci~parent of 6f19c93... added new uart controller
Verilog_Design/UART cw/db/uart_implementation.sld_design_entry_dsc.sci~HEAD
